
#navbar{
    overflow: hidden;
    background-color: #968d7f;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#navbar a {
    float: right;
    display: block;
    color: linen;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-family:serif;
}

#navbar a:hover {
    background-color: #a55959;
    color: rgb(0, 0, 0);
}

h1{
    color: rgb(123, 164, 123);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
}

#anim{
    animation-name: colorful;
    animation-duration: 2s;
}

@keyframes colorful{ 
0% {
    color: white;
}
50% {
    color: rgba(202, 202, 202, 0.906);
}
100%{
    color: rgb(123, 164, 123);
}
}

h3 {
    color: rgb(123, 136, 123);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 50px;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.intro{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.footer{
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}

/*Culture CSS*/

.culture {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 51px;
}


.grade {
    width: 600px;
    padding: 10px;
    border: 3px solid gray;
    margin: 0;
    position: absolute;
    margin-left: 40%;
    top: 30%;

}



.sustainability {
    width: 600px;
    padding: 10px;
    border: 3px solid gray;
    margin: 0;
    position: absolute;
    margin-left: 40%;
    top: 60%;
}


.fashion {
    width: 600px;
    padding: 10px;
    border: 3px solid gray;
    margin: 0;
    position: absolute;
    margin-left: 40%;
    top: 90%;
    margin-bottom: 25%;
}

#differences {
    background-color: rgb(112, 139, 112);
    border: 1px solid pink;
    width: 30px;
    padding: 10px;
    margin: 20px;
    margin-left: 20%;
}


li{
    background-color: antiquewhite;
    border: 1px solid rgb(224, 212, 212);
    width: 200px;
    padding: 10px;
    margin: 10px;
}

h2{
    margin-top: 5%;
    margin-left: 20%;
    color: rgb(87, 45, 22);
}

div.absolute{
    position: absolute;
    margin-left: 19%;
    top: 435px;
    margin-right: 40%;
}


.level {
    position:absolute;
    margin-right: 40%;
    margin-left: 19%;
    top: 490px;
}

.work {
    position:absolute;
    margin-right: 40%;
    margin-left: 19%;
    top: 560px;
}


/* Portfolio */

.subhead{
    color: rgb(123, 136, 123);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;

}
    h4 {
    text-align: center;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

p{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


.article1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    
}


.article2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.evolution {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}



.news {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.backgrounder {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#968d7f;
}

footer p {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 5%;
}


.linkedin{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}



/*travel*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .grid-item {
    border: 1px solid #ccc;
    padding: 10px;
  }
  .grid-item img {
    max-width: 100%;
    height: auto;
  }
  
  .travel {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: center;
    margin-bottom: 3%;
  }

/* 

nav {
    padding: 3px;
    background-color: rgb(250, 241, 235);
    border: 1px solid gray;
} 

h1{
    color:rgb(143, 196, 240);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: dotted;
    border-color: rgb(111, 167, 218);
}

h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


body{
    background-color: rgb(229, 242, 244);
   
}





#div1{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

#image{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 250px;
}

.text{
    color: rgb(57, 172, 214);
    font-size: 14px;
    text-align: left;
}


.list{
    color: blue;
    font-style: inherit;
    margin: 50px;
}


a.pseudo:hover {
    color:red;
}




#div1 p{
   color: green;
}

.river p{
    background-color: blanchedalmond;
}

.list p {
    color: brown;
}



.box{
    background-color: rgba(202, 202, 202, 0.906);
    width: 300px;
    border: 15px solid rgb(193, 220, 177);
    padding: 30px;
    margin: 30px;
}


#anim{
    animation-name: colorful;
    animation-duration: 3s;
}

@keyframes colorful{
0% {
    background-color: white;
}
50% {
    background-color: rgba(202, 202, 202, 0.906);
}
100%{
    background-color: antiquewhite;
}
}


div.absolute {
    position:absolute;
    left: 1400px;
    right: 0px;
    top: 1800px;
    background-color: bisque;
    border: 3px solid black;
    width: 650px;
}

nav.sticky {
    position: sticky;
    top: 0px;
}


/*
nav.sticky {
    position: sticky;
    top: 0;
    padding: 3px;
    background-color: rgb(250, 241, 235);
    border: 1px solid gray;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}


div.position {
    position:absolute;
    left: 500px;
    right: 200px;
    top: 200px;

}
.box {
    background-color: lightgray;
    width: 300px;
    border: 15px solid yellowgreen;
    padding: 50px;
    margin: 50px;
}

p {
    background-color: yellowgreen;
    color: whitesmoke;
    margin: 100px;
}

div.pseudo:hover {
    color:red;
}

a.pseudo2:hover {
    color:green;
}

a.pseudo2:visited {
    color:yellow;
}

a.psedudo2:active {
    color:blue;
}

div{
    background: red;
    background: red;
   display: inline-block;

}


span{
    background: green;
    height: 50px;
    width: 400px;
    display: block;
}

*/